<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="BankConnectionString"
      connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Bank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>